body {
  background-color: #2CC1DB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#box {
  box-sizing: border-box;
  width: 50vw;
  background-color: #2CDBBC;
  box-shadow: 0 0 10px 0 #000a;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
}

/*Number label*/
#counter-label {
  font-size: 6rem;
  color: #ddd;
  line-height: 1;
}

/*BUTTONS*/
#buttons-box {
  margin-bottom: 10px;

  display: flex; /*Flexbox*/
  gap: 4px; /*Espacio entre elementos*/
}

button {
  flex: 1; /*Ocupar el mismo espacio*/

  padding: 4px 6px;
  width: 100;
  font-size: 0.8rem;
  background-color: #3DECCD;
  border: none;
  border-radius:5px;
  color: #ddd;
}

button:hover{
  background-color: #3FFCCD;
}

button:active{
  background-color: #1BCAAB;
}
